.carousel {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border-radius: 10px; }
  .carousel-item {
    padding: 40px;
    padding-right: 80px; }
    .carousel-item__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .carousel-control-next-icon {
    margin-right: -77%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("../img/common/sleder-arrow.svg");
    width: 30px;
    height: 50px;
    position: relative; }
  .carousel-control-prev-icon {
    margin-left: -77%;
    background-image: url("../img/common/sleder-arrow.svg");
    width: 30px;
    height: 50px;
    position: relative; }
  .carousel-indicators {
    position: relative; }
    .carousel-indicators > div {
      text-align: center; }
    .carousel-indicators li {
      background-color: #e8e8e8;
      width: 120px;
      text-align: center; }
      .carousel-indicators li.active {
        background-color: #00add9; }
    .carousel-indicators .active li {
      background-color: #00add9; }

@media (max-width: 768px) {
  .carousel-item {
    padding: 10px;
    padding-bottom: 40px; }
  .carousel-control-next {
    right: 0; }
    .carousel-control-next-icon {
      display: none; }
  .carousel-control-prev {
    left: 0; }
    .carousel-control-prev-icon {
      display: none; } }

.arrows__item {
  cursor: pointer;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 30px);
  z-index: 999;
  width: 30px !important; }
  .arrows__item--prev {
    left: calc(46% - 450px); }
  .arrows__item--next {
    right: calc(46% - 450px);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.owl-carousel .owl-item {
  padding: 0 0 25px; }

.owl-carousel__item {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px; }
  .owl-carousel__item img {
    width: auto !important; }
  .owl-carousel__item--business .business__carousel__text {
    height: 250px; }
  .owl-carousel__item--review .carousel-item__row {
    text-align: left !important; }
  .owl-carousel__item--review img {
    width: 130px !important;
    margin-right: 20px; }

.business .carousel-indicators {
  top: 0 !important; }

@media (max-width: 992px) {
  .arrows {
    display: none; }
  .owl-carousel__item--business .business__carousel__text {
    height: auto; } }

@media (max-width: 768px) {
  .owl-carousel__item--business .carousel-item__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .owl-carousel__item--business .carousel-item__row img {
      display: block;
      margin: 0 auto; }
  .owl-carousel__item--review .carousel-item__row {
    text-align: center !important; }
  .owl-carousel__item--review img {
    display: block;
    margin: 0 auto; }
  .owl-carousel .owl-item {
    padding: 25px 10px; } }
