<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <script src="js/jq.js"></script>
  <script src="js/vue.min.js"></script>
  <base target="_blank">
   <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114577800-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114577800-1');
  </script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter47793562 = new Ya.Metrika({
            id: 47793562,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) { }
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/47793562" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <title>Document</title>
</head>

<body>
  <div id="app">

    <div class="header">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="img/header/enecuum-logo.svg" alt="">
        </a>
        <div @click="toggleMenu()" class="burger">
          <img src="img/header/burger.png" alt="">
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" target="_self" href="index.html">{{lang[curLang].NAVBAR.MENU.HOME}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_self" href="team.html">{{lang[curLang].NAVBAR.MENU.TEAM}}</a>
            </li>
            <!--  <li class="nav-item">
              <a class="nav-link" target="_self" href="#">{{lang[curLang].NAVBAR.MENU.CAREERS}}</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/@EnecuumBlockchain">{{lang[curLang].NAVBAR.MENU.BLOG}}</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <!-- <a class="nav-link" href="">{{lang[curLang].NAVBAR.MENU.LOGIN}}</a> -->
            <div class="navbar__lang">
            <!--  <img @click="changeLang('ru')" v-if="curLang != 'ru'" src="img/header/ru.png" alt="">
              <img v-if="curLang == 'ru'" src="img/header/ru-active.png" alt="">
              <img @click="changeLang('en')" v-if="curLang != 'en'" src="img/header/en.svg" alt="">
              <img v-if="curLang == 'en'" src="img/header/en-active.svg" alt="">-->
            </div>
          </div>
        </div>
      </nav>


      <div class="navbar navbar--nav-menu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" target="_self" href="#features">{{lang[curLang].NAVBAR.SUBMENU.FEATURES}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_self" href="#business">{{lang[curLang].NAVBAR.SUBMENU.BUSINESS_CASES}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_self" href="#mining">{{lang[curLang].NAVBAR.SUBMENU.MINING}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_self" href="#roadmap">{{lang[curLang].NAVBAR.SUBMENU.ROAD_MAP}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_self" href="#feedback">{{lang[curLang].NAVBAR.SUBMENU.CONTACT}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div :class="{show: menuIsShown}" class="right-block">
      <div class="mobile-menu__menu">
        <div @click="toggleMenu()" class="burger">
          <img src="img/header/burger.png" alt="">
        </div>
        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="#">{{lang[curLang].NAVBAR.MENU.HOME}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{lang[curLang].NAVBAR.MENU.TEAM}}</a>
          </li>
    <!--<li class="nav-item">
            <a class="nav-link" href="#">{{lang[curLang].NAVBAR.MENU.CAREERS}}</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://medium.com/@EnecuumBlockchain">{{lang[curLang].NAVBAR.MENU.BLOG}}</a>
          </li>
          <div class="navbar__lang">
            <!--<img @click="changeLang('ru')" v-if="curLang != 'ru'" src="img/header/ru.png" alt="">
            <img v-if="curLang == 'ru'" src="img/header/ru-active.png" alt="">
            <img @click="changeLang('en')" v-if="curLang != 'en'" src="img/header/en.svg" alt="">
            <img v-if="curLang == 'en'" src="img/header/en-active.svg" alt="">-->
          </div>
        </ul>
      </div>
      <div class="nav-block">
        <ul>
          <li class="nav-item active">
            <a @click="toggleMenu()" class="nav-link" href="#features">{{lang[curLang].NAVBAR.SUBMENU.FEATURES}}</a>
          </li>
          <li class="nav-item">
            <a @click="toggleMenu()" class="nav-link" href="#business">{{lang[curLang].NAVBAR.SUBMENU.BUSINESS_CASES}}</a>
          </li>
          <li class="nav-item">
            <a @click="toggleMenu()" class="nav-link" href="#mining">{{lang[curLang].NAVBAR.SUBMENU.MINING}}</a>
          </li>
          <li class="nav-item">
            <a @click="toggleMenu()" class="nav-link" href="#roadmap">{{lang[curLang].NAVBAR.SUBMENU.ROAD_MAP}}</a>
          </li>
          <li class="nav-item">
            <a @click="toggleMenu()" class="nav-link" href="#feedback">{{lang[curLang].NAVBAR.SUBMENU.CONTACT}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div @click="toggleMenu()" :class="{show: menuIsShown}" class="mobile-menu">
    </div>

    <div class="container-fluid">
      <div class="row banner">
        <h1 class="banner__title col-12">
          {{lang[curLang].TOP_BANNER.TITLE}}
        </h1>
        <div class="banner__text col-12">
          <div>
            {{lang[curLang].TOP_BANNER.TEXT}}
          </div>
        </div>
        <div class="col-12">
          <a href="docs/Enecuum_WP.pdf" class="button button--blue button--shadow">
            {{lang[curLang].BUTTONS.WHITEPAPER}}
          </a>
          <a target="_self" href="#subscribe" class="button button--white button--shadow">
            {{lang[curLang].BUTTONS.WHITELIST}}
          </a>
        </div>
      </div>

      <div id="features" class="row justify-content-center features">
        <div class="features__block">
          <img v-if="curLang === 'ru'" src="img/features/features--ru.svg" alt="">
          <img v-if="curLang === 'en'" src="img/features/features--en.svg" alt="">
        </div>
      </div>
      <div class="row justify-content-center features__carousel">
        <div class="arrows">
          <img id="features-left" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--prev">
          <img id="features-right" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--next">
        </div>
        <div id="carousel-features" class="owl-carousel">
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_3.TITLE}}
            </div>
            <div class="carousel-item__row carousel-item__row--top">
              <img src="img/features/speed.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_3.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_3.TEXT}}
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Project</th>
                      <th scope="col">Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Enecuum</td>
                      <td>1M TPS</td>
                    </tr>
                    <tr>
                      <td>Ethereum</td>
                      <td>20 TPS</td>
                    </tr>
                    <tr>
                      <td>ICON</td>
                      <td>Unknown</td>
                    </tr>
                    <tr>
                      <td>CARDANO</td>
                      <td>~10-20 TPS</td>
                    </tr>
                    <tr>
                      <td>IOTA</td>
                      <td>800 TPS
                      </td>
                    </tr>
                    <tr>
                      <td>Electronium</td>
                      <td>1700 TPS</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_1.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img src="img/features/slider-img1.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_1.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_1.TEXT}}
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_2.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img src="img/features/free.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_2.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_2.TEXT}}
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_5.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img class="wide" src="img/features/cloud.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_5.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_5.TEXT}}
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_4.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img src="img/features/hammer.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_4.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_4.TEXT}}
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_6.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img src="img/features/scheme.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_6.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_6.TEXT}}
              </div>
            </div>
          </div>
          <div class="owl-carousel__item owl-carousel__item--feature">
            <div class="features__carousel__title">
              {{lang[curLang].FEATURES.SLIDER_7.TITLE}}
            </div>
            <div class="carousel-item__row">
              <img class="wide" src="img/features/cheme2.png" alt="">
              <div class="carousel-item__text">
                <b>{{lang[curLang].FEATURES.SLIDER_7.SUB_TITLE}}</b>
                <br> {{lang[curLang].FEATURES.SLIDER_7.TEXT}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="subscribe" class="row subscribe justify-content-center">
        <div class="col-md-8">
          <h2 class="title">
            {{lang[curLang].SUBSCRIBE.TITLE}}
          </h2>
        </div>
        <div class="row justify-content-center col-md-12">
          <form action="https://enecuum.us16.list-manage.com/subscribe/post?u=fb0f51146aa6f11f17b9b9b7d&amp;id=4eae1b5132" method="POST">
            <input type="email" id="email" name="EMAIL" placeholder="Enter Your Email Address">
            <button type="submit" class="button button--blue">
              Join
            </button>
          </form>
        </div>
      </div>

      <div id="business" class="row business justify-content-center">
        <div class="col-12">
          <div class="title">
            {{lang[curLang].BUSINESS.TITLE}}
          </div>
        </div>
        <div class="max-w col-12">
          <div class="row justify-content-center businnes__carousel">
            <div class="arrows">
              <img id="business-left" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--prev">
              <img id="business-right" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--next">
            </div>
            <ol class="carousel-indicators">
              <div id="business1">
                <div>
                  {{lang[curLang].BUSINESS.BAR.ICO}}
                </div>
                <li class="active">
                </li>
              </div>
              <div id="business2">
                <div>
                  {{lang[curLang].BUSINESS.BAR.BANKING}}
                </div>
                <li>
                </li>
              </div>
              <div id="business3">
                <div>
                  {{lang[curLang].BUSINESS.BAR.STORAGE}}
                </div>
                <li>
                </li>
              </div>
              <div id="business4">
                <div>
                  {{lang[curLang].BUSINESS.BAR.COMPUTATIONS}}
                </div>
                <li>
                </li>
              </div>
              <div id="business5">
                <div>
                  {{lang[curLang].BUSINESS.BAR.MICROPAYMENTS}}
                </div>
                <li>
                </li>
              </div>
            </ol>
            <div id="carousel-business" class="owl-carousel">
              <div class="owl-carousel__item owl-carousel__item--business">
                <div class="carousel-item__row">
                  <div>
                    <div class="business__carousel__title">
                      {{lang[curLang].BUSINESS.SLIDER_1.TITLE}}
                    </div>
                    <img src="img/business/ico.png" alt="">
                  </div>
                  <div class="business__carousel__text">
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_1.TEXT.BLOCK_1}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_1.TEXT.BLOCK_2}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_1.TEXT.BLOCK_3}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="owl-carousel__item owl-carousel__item--business">
                <div class="carousel-item__row">
                  <div>
                    <div class="business__carousel__title">
                      {{lang[curLang].BUSINESS.SLIDER_2.TITLE}}
                    </div>
                    <img src="img/business/bank.png" alt="">
                  </div>
                  <div class="business__carousel__text">
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_1}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_2}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_3}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="owl-carousel__item owl-carousel__item--business">
                <div class="carousel-item__row">
                  <div>
                    <div class="business__carousel__title">
                      {{lang[curLang].BUSINESS.SLIDER_3.TITLE}}
                    </div>
                    <img src="img/business/analysis.png" alt="">
                  </div>
                  <div class="business__carousel__text">
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_1}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_2}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_3.TEXT.BLOCK_3}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="owl-carousel__item owl-carousel__item--business">
                <div class="carousel-item__row">
                  <div>
                    <div class="business__carousel__title">
                      {{lang[curLang].BUSINESS.SLIDER_4.TITLE}}
                    </div>
                    <img src="img/business/store.png" alt="">
                  </div>
                  <div class="business__carousel__text">
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_4.TEXT.BLOCK_1}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_4.TEXT.BLOCK_2}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_4.TEXT.BLOCK_3}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="owl-carousel__item owl-carousel__item--business">
                <div class="carousel-item__row">
                  <div>
                    <div class="business__carousel__title">
                      {{lang[curLang].BUSINESS.SLIDER_5.TITLE}}
                    </div>
                    <img src="img/business/pay.png" alt="">
                  </div>
                  <div class="business__carousel__text">
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_5.TEXT.BLOCK_1}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_5.TEXT.BLOCK_2}}
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.SLIDER_5.TEXT.BLOCK_3}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mining" class="row mining justify-content-center">
        <div class="col-12">
          <div class="title">
            {{lang[curLang].MINING.TITLE}}
          </div>
        </div>
        <div class="col-12">
          <div class="title title--mini">
            {{lang[curLang].MINING.SUB_TITLE}}
          </div>
        </div>
        <div class="max-w col-md-11 col-lg-9">
          <div class="mining__block">
            <div class="mining__block__steps">
              <b>{{lang[curLang].MINING.STEPS}}</b>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mining__block__img-block row justify-content-between align-items-center">
                  <img class="mining__block__img mining__block__img--main" src="img/mining/hammer.png" alt="">
                  <img class="d-none d-md-block mining__block__img mining__block__img--arrow" src="img/mining/mining_arrow.png" alt="">
                </div>
                <div class="mining__block__text row">
                  <b>{{lang[curLang].MINING.ITEM_1.TITLE}}</b>
                  <br>
                  <br>
                  <p>
                    {{lang[curLang].MINING.ITEM_1.TEXT.BLOCK_1}}
                  </p>
                  <p>
                    {{lang[curLang].MINING.ITEM_1.TEXT.BLOCK_2}}
                  </p> 
                  <p>
                    {{lang[curLang].MINING.ITEM_1.TEXT.BLOCK_3}}
                  </p> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="mining__block__img-block row justify-content-between align-items-center">
                  <img class="mining__block__img mining__block__img--main" src="img/mining/hammers.png" alt="">
                  <img class="d-none d-md-block mining__block__img mining__block__img--arrow" src="img/mining/mining_arrow.png" alt="">
                </div>
                <div class="mining__block__text row">
                  <b>{{lang[curLang].MINING.ITEM_2.TITLE}}</b>
                  <br>
                  <br>
                  <p>
                    {{lang[curLang].MINING.ITEM_2.TEXT.BLOCK_1}}
                  </p>
                  <p>
                    {{lang[curLang].MINING.ITEM_2.TEXT.BLOCK_2}}
                  </p> 
                  <p>
                    {{lang[curLang].MINING.ITEM_2.TEXT.BLOCK_3}}
                  </p> 
                </div>
              </div>
              <div class="col-md-4">
                <div class="mining__block__img-block row justify-content-between align-items-center">
                  <img class="mining__block__img mining__block__img--main" src="img/mining/safety.png" alt="">
                </div>
                <div class="mining__block__text row">
                  <b>{{lang[curLang].MINING.ITEM_3.TITLE}}</b>
                  <br>
                  <br>
                  <p>
                    {{lang[curLang].MINING.ITEM_3.TEXT.BLOCK_1}}
                  </p>
                  <p>
                    {{lang[curLang].MINING.ITEM_3.TEXT.BLOCK_2}}
                  </p> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row phone-mining justify-content-center">
        <div class="max-w col-md-10">
          <div class="row reverse">
            <div class="col-md-6">
              <div class="title title--left">
                {{lang[curLang].PHONE_MINING.TITLE}}
              </div>
              <div>
                {{lang[curLang].PHONE_MINING.TEXT}}
              </div>
              <button class="button button--blue">
                {{lang[curLang].BUTTONS.WALLET}}
              </button>
            </div>
            <div class="col">
              <img v-if="curLang === 'ru'" src="img/phone_mining/phone--ru.png" alt="">
              <img v-if="curLang === 'en'" src="img/phone_mining/phone--en.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="row mvp justify-content-center">
        <div class="col-12">
          <div class="title">
            MVP
          </div>
        </div>
        <div class="col-12">

          <div class="justify-content-center review__carousel">
            <div class="arrows">
              <img id="review-left" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--prev">
              <img id="review-right" src="img/common/sleder-arrow.svg" alt="" class="arrows__item arrows__item--next">
            </div>
            <div id="carousel-review" class="owl-carousel">
              <div class="owl-carousel__item owl-carousel__item--review">
                <div class="carousel-item__row">
                  <div>
                    <img class="author-photo" src="img/business/author.png" alt="">
                  </div>
                  <div class="review__carousel__text">
                    <p class="review-sign">
                      <b>{{lang[curLang].BUSINESS.REVIEW_1.TITLE}}</b>
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.REVIEW_1.TEXT}}
                    </p>
                    <p>
                      <i>{{lang[curLang].BUSINESS.REVIEW_1.AUTHOR}}</i>
                    </p>
                  </div>
                </div>
              </div>
              <div class="owl-carousel__item owl-carousel__item--review">
                <div class="carousel-item__row">
                  <div>
                    <img class="author-photo" src="img/business/author.png" alt="">
                  </div>
                  <div class="review__carousel__text">
                    <p class="review-sign">
                      <b>{{lang[curLang].BUSINESS.REVIEW_1.TITLE}}</b>
                    </p>
                    <p>
                      {{lang[curLang].BUSINESS.REVIEW_1.TEXT}}
                    </p>
                    <p>
                    <i>{{lang[curLang].BUSINESS.REVIEW_1.AUTHOR}}</i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="roadmap" class="row justify-content-center roadmap">
        <div class="col-md-12">
          <div class="title">
            {{lang[curLang].ROADMAP.TITLE}}
          </div>
        </div>
        <div class="roadmap__block max-w col-md-9">
          <div class="roadmap__imgs row justify-content-center">
            <img v-if="curLang === 'ru'" class="d-none d-md-block" src="img/roadmap/Roadmap_desk_ru.svg" alt="">
            <img v-if="curLang === 'en'" class="d-none d-md-block" src="img/roadmap/Roadmap_desk.svg" alt="">
            <img v-if="curLang === 'ru'" class="d-md-none" src="img/roadmap/Road_mob_ru.svg" alt="">
            <img v-if="curLang === 'en'" class="d-md-none" src="img/roadmap/Road_mob_en.svg" alt="">
          </div>
        </div>
      </div>

      <div id="feedback" class="row justify-content-center feedback">
        <div class="col-12">
          <div class="title">
            {{lang[curLang].FEEDBACK.TITLE}}
          </div>
        </div>
        <div class="max-w col-md-8">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <input :placeholder="lang[curLang].FEEDBACK.NAME" class="input-round" type="text">
              </div>
              <div class="col-md-6">
                <input placeholder="Email" class="input-round" type="email">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <select class="input-round" name="" id="">
                  <option value="" disabled selected>{{lang[curLang].FEEDBACK.TOPIC}}</option>
                  <option value="">{{lang[curLang].FEEDBACK.TOPICS.HR}}</option>
                  <option value="">{{lang[curLang].FEEDBACK.TOPICS.PR}}</option>
                  <option value="">{{lang[curLang].FEEDBACK.TOPICS.OFFERS}}</option>
                  <option value="">{{lang[curLang].FEEDBACK.TOPICS.PROPOSE}}</option>
                  <option value="">{{lang[curLang].FEEDBACK.TOPICS.SUPPORT}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <input :placeholder="lang[curLang].FEEDBACK.MESSAGE" class="input-round" type="email">
              </div>
            </div>
            <div class="row justify-content-center">
              <button class="button button--blue button--shadow">
                {{lang[curLang].BUTTONS.SEND}}
              </button>
            </div>
          </form>
        </div>
      </div>

      <footer class="row footer justify-content-between">
        <div class="">
          <div>
            {{lang[curLang].FOOTER.ADDRESS.LINE_1}}
          </div>
          <div>
            {{lang[curLang].FOOTER.ADDRESS.LINE_2}}
          </div>
          <div>
            {{lang[curLang].FOOTER.ADDRESS.COPYRIGHT}} · <a href="docs/Privacy.pdf">{{lang[curLang].FOOTER.ADDRESS.PRIVACY}}</a> · <a href="docs/Terms.pdf">{{lang[curLang].FOOTER.ADDRESS.TERMS}}</a> · <a href="mailto:" :href="'mailto:' + lang[curLang].FOOTER.ADDRESS.LINE_3">{{lang[curLang].FOOTER.ADDRESS.MAILUS}}</a>
          </div>
        </div>
        <div class="footer__networks">
          <a href="https://github.com/Enecuum">
            <img src="img/footer/gh.svg" alt="">
          </a>
          <a href="https://medium.com/@EnecuumBlockchain">
            <img src="img/footer/med.svg" alt="">
          </a>
          <a href="https://www.reddit.com/user/enecuum">
            <img src="img/footer/sm.svg" alt="">
          </a>
          <a href="https://twitter.com/enecuum_ico">
            <img src="img/footer/tw.svg" alt="">
          </a>
          <a href="https://www.facebook.com/enecuum.EN/?ref=bookmarks">
            <img src="img/footer/fb.svg" alt="">
          </a>
          <a href="https://t.me/Enecuum_EN">
            <img src="img/footer/tm.svg" alt="">
          </a>
          <a href="https://bitcointalk.org/index.php?topic=2939909.0;topicseen">
            <img src="img/footer/bt.svg" alt="">
          </a>
        </div>
      </footer>

    </div>
  </div>

  <script src="js/axios.min.js"></script>
  <script src="js/App.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/slider.js"></script>
</body>

</html>