<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="css/bootstrap-reboot.min.css"> -->
  <!-- <link rel="stylesheet" href="css/bootstrap-grid.min.css"> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/team.css">
  <script src="js/vue.min.js"></script>
  <base target="_blank">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a target="_self" class="navbar-brand" href="index.html">
          <img src="img/header/enecuum-logo.svg" alt="">
        </a>
        <div @click="toggleMenu()" class="burger">
          <img src="img/header/burger.png" alt="">
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" target="_self" href="index.html">{{lang[curLang].NAVBAR.MENU.HOME}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_self" href="team.html">{{lang[curLang].NAVBAR.MENU.TEAM}}</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" target="_self" href="#">{{lang[curLang].NAVBAR.MENU.CAREERS}}</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/@EnecuumBlockchain">{{lang[curLang].NAVBAR.MENU.BLOG}}</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <!-- <a class="nav-link" href="">{{lang[curLang].NAVBAR.MENU.LOGIN}}</a> -->
            <div class="navbar__lang">
             <!--  <img @click="changeLang('ru')" v-if="curLang != 'ru'" src="img/header/ru.png" alt="">
              <img v-if="curLang == 'ru'" src="img/header/ru-active.png" alt="">
              <img @click="changeLang('en')" v-if="curLang != 'en'" src="img/header/en.svg" alt="">
              <img v-if="curLang == 'en'" src="img/header/en-active.svg" alt="">-->
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div :class="{show: menuIsShown}" class="right-block">
      <div class="mobile-menu__menu mobile-menu__menu--full">
        <div @click="toggleMenu()" class="burger">
          <img src="img/header/burger.png" alt="">
        </div>
        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="index.htm">{{lang[curLang].NAVBAR.MENU.HOME}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team.html">{{lang[curLang].NAVBAR.MENU.TEAM}}</a>
          </li>
          <!--<li class="nav-item">
                <a class="nav-link" href="#">{{lang[curLang].NAVBAR.MENU.CAREERS}}</a>
              </li>-->
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://medium.com/@EnecuumBlockchain">{{lang[curLang].NAVBAR.MENU.BLOG}}</a>
          </li>
          <div class="navbar__lang">
            <img @click="changeLang('ru')" v-if="curLang != 'ru'" src="img/header/ru.png" alt="">
            <img v-if="curLang == 'ru'" src="img/header/ru-active.png" alt="">
            <img @click="changeLang('en')" v-if="curLang != 'en'" src="img/header/en.svg" alt="">
            <img v-if="curLang == 'en'" src="img/header/en-active.svg" alt="">
          </div>
        </ul>
      </div>
    </div>
    <div @click="toggleMenu()" :class="{show: menuIsShown}" class="mobile-menu">
    </div>

    <div class="container">

      <div class="text-center page-title">{{lang[curLang].TEAM_PAGE.TITLE}}</div>
      <div class="text-center page-sub-title">{{lang[curLang].TEAM_PAGE.FOUNDERS}}</div>

      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="row founders justify-content-center">
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/anton_nikonorov.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_1.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_1.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/anton-nikonorov-4067a384/" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                  <a href="https://ru-ru.facebook.com/anton.nikonorov" target="_blank">
                    <i class="icon-facebook-with-circle"></i>
                  </a>
                </div>

                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>

                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_1.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/mikhail_sayfulin.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_2.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_2.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/mikhail-sayfullin-a5271436/" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                  <a href="mailto:ceo@enecuum.com" target="_blank">
                    <i class="icon-email-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_2.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/ivaniv_v_ivanov.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_3.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_3.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/ivanvalerevich" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_3.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="text-center page-sub-title">{{lang[curLang].TEAM_PAGE.DEVELOPMENT}}</div>

      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="row founders justify-content-center">
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/oleg_maximov.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_5.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_5.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://github.com/syjgin" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_5.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/dmitriy_pavlyuk.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_8.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_8.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="#">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                  <a href="#">
                    <i class="icon-email-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_8.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/ksenia.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_6.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_6.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/ksenia-pozdnyakova" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_6.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/darya_melnikova.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_4.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_4.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.facebook.com/melnikovad">
                    <i class="icon-facebook-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_4.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row founders justify-content-center">
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/mikhail_subbotin.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_11.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_11.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/msubbotin" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_11.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/dmitriy_pavl.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_22.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_22.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://github.com/vojiranto" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_22.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/boris.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_9.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_9.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://ru.linkedin.com/in/boris-yartsev-6752bb1" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_9.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/artem.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_10.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_10.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://github.com/scytem" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_10.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row founders justify-content-center">
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/vladislav.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_12.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_12.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://github.com/633kh4ck">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_12.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/julia_osipova.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_19.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_19.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.behance.net/osipova_ju7b5e" target="_blank">
                    <img class="svg-icon" src="img/team/behance.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/julia-osipova-392567158/" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_19.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/oleg_kazakov.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_16.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_16.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/oleg-karakoz" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_16.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="founder-item">
                <img src="/img/team/avatars/ilya_gruzdev.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_7.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_7.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://github.com/iilyha" target="_blank">
                    <i class="icon-github"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_7.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center page-sub-title">{{lang[curLang].TEAM_PAGE.MARKETING}}</div>

      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="row founders justify-content-center">
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/milya.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_13.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_13.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/milya-musina-0733a8125/" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                  <a href="mailto:m.musina@enecuum.com" target="_blank">
                    <i class="icon-email-with-circle"></i>
                  </a>
                  <a href="https://www.facebook.com/people/Миля-Мусина/100012056355459" target="_blank">
                    <i class="icon-facebook-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_13.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/denis.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_14.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_14.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="mailto:pr@enecuum.com" target="_blank">
                    <i class="icon-email-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_14.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/igor.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_15.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_15.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="http://twitter.com/blogerator" target="_blank">
                    <i class="icon-twitter-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_15.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center page-sub-title">{{lang[curLang].TEAM_PAGE.OPERATIONS}}</div>

      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="row founders justify-content-center">
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/julia_mayer.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_18.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_18.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/juliya-mayer" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_18.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/julia_linykh.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_17.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_17.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="mailto:hr@enecuum.com" target="_blank">
                    <i class="icon-email-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                  <span class="founder-item_contacts__description_link">
                    <i class="link-arrow icon-keyboard_arrow_down"></i>
                    {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                  </span>
                  <div class="founder-item_contacts__description_text">
                    {{lang[curLang].TEAM_PAGE.PERSON_17.DESCRIPTION}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center page-sub-title">{{lang[curLang].TEAM_PAGE.ADVISORS}}</div>

      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="row founders justify-content-center">
                 <div class="col-md-4">
              <div class="founder-item">
                <img src="/img/team/avatars/ismail.png" class="founder-item_avatar">
                <div class="founder-item_name">{{lang[curLang].TEAM_PAGE.PERSON_21.NAME}}</div>
                <div class="founder-item_position">{{lang[curLang].TEAM_PAGE.PERSON_21.POSITION}}</div>
                <div class="founder-item_contacts__links">
                  <a href="https://www.linkedin.com/in/blockchain/" target="_blank">
                    <i class="icon-linkedin-with-circle"></i>
                  </a>
                </div>
                <div class="founder-item_contacts__description" v-toggler>
                    <span class="founder-item_contacts__description_link">
                      <i class="link-arrow icon-keyboard_arrow_down"></i>
                      {{lang[curLang].TEAM_PAGE.SEE_MORE}}
                    </span>
                    <div class="founder-item_contacts__description_text">
                      {{lang[curLang].TEAM_PAGE.PERSON_21.DESCRIPTION}}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="justify-content-center row">
        <div class="col-md-8">
          <div class="team-page-controls text-center">
            <button @click="toggleTeamForm()" class="button button--grey-text button--big">
              {{lang[curLang].BUTTONS.JOIN_TEAM}}
            </button>
            <button class="button button--grey-text button--big">
              {{lang[curLang].BUTTONS.VACANCIES}}
            </button>
          </div>
        </div>
      </div>

      <div class="row form-block justify-content-center">
        <div class="col-md-8">
          <form :class="{shown: teamFormIsShown}" class="form">
            <input :placeholder="lang[curLang].TEAM_PAGE.FORM.SUBJECT" type="text" class="flat">
            <textarea :placeholder="lang[curLang].TEAM_PAGE.FORM.MESSAGE" cols="30" rows="10" class="flat"></textarea>
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">
              <img src="img/team/file.svg" alt="">
            </label>
            <button class="button button--blue" type="submit">
              {{lang[curLang].BUTTONS.SEND}}
            </button>
          </form>
        </div>
      </div>

    </div>

    <div class="container-fluid">


      <footer class="row footer justify-content-between">
        <div class="">
          <div>
            {{lang[curLang].FOOTER.ADDRESS.LINE_1}}
          </div>
          <div>
            {{lang[curLang].FOOTER.ADDRESS.LINE_2}}
          </div>
          <div>
            {{lang[curLang].FOOTER.ADDRESS.COPYRIGHT}} · <a href="docs/Privacy.pdf">{{lang[curLang].FOOTER.ADDRESS.PRIVACY}}</a> · <a href="docs/Terms.pdf">{{lang[curLang].FOOTER.ADDRESS.TERMS}}</a> · <a href="mailto:" :href="'mailto:' + lang[curLang].FOOTER.ADDRESS.LINE_3">{{lang[curLang].FOOTER.ADDRESS.MAILUS}}</a>
          </div>
        </div>
        <div class="footer__networks">
          <a href="https://github.com/Enecuum">
            <img src="img/footer/gh.svg" alt="">
          </a>
          <a href="https://medium.com/@EnecuumBlockchain">
            <img src="img/footer/med.svg" alt="">
          </a>
          <a href="https://www.reddit.com/user/enecuum">
            <img src="img/footer/sm.svg" alt="">
          </a>
          <a href="https://twitter.com/enecuum_ico">
            <img src="img/footer/tw.svg" alt="">
          </a>
          <a href="https://www.facebook.com/enecuum.EN/?ref=bookmarks">
            <img src="img/footer/fb.svg" alt="">
          </a>
          <a href="https://t.me/Enecuum_EN">
            <img src="img/footer/tm.svg" alt="">
          </a>
          <a href="https://bitcointalk.org/index.php?topic=2939909.0;topicseen">
            <img src="img/footer/bt.svg" alt="">
          </a>
        </div>
      </footer>

    </div>
  </div>
  <script src="js/axios.min.js"></script>
  <script src="js/jq.js"></script>
  <script src="js/Team.js"></script>
  <!--<script src="js/popper.js"></script>-->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>